{% extends "layout.html" %}
{% block body %}
<div style="text-align:center;">
<h1 class="title">Welcome to to my Capstone Project for CPSC 597!</h1>
<h2 class="title">A Flask based E2EE messaging app with client side moderation using machine learning classifiers to prevent the spread of hate speech.</h2>
<br>
<br>
<p>Made by Bryan Ambriz, check it out on <a href="https://github.com/bambriz/Flask-Blog-Application">Github</a> or <a href="https://replit.com/@bambriz/CPSC-597-Capstone-Project">Replit</a></p>

<br>
<h6>Work in Progress</h6>
</div> 
{% endblock %}