{% extends "layout.html" %}
{% block body %}

<h2>Chat between {{ user_a_name }} and {{user_b_name}}</h2>
<br>

<br>
<h4>Messages:</h4>
{% for message in messages %}
       <p><span>{{message.author}}</span><br>{{message.text}}</p><br>
                            {% endfor %}
							<form action="{{url_for('new_reply',id=chat.id, username=username) }}" method="POST">
                                            <div class="form-group">
        										<label for="InputTextMessage">reply...</label>
        										<textarea class="form-control" id="InputTextMessage" name=messagetext rows="3"></textarea>
    										</div>
                                            <button type="submit" class="btn btn-primary mt-2 btn-sm" id="send-button" name="send-button">Send</button>
                                        </form>
{% endblock %}